  </main>
  <footer class="site-footer">
    <p>TerpTunes &mdash; CMSC335 Final Project</p>
  </footer>
  <div id="toast-container"></div>
  <script src="/js/main.js"></script>
</body>
</html>
